extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur lobortis lacus vitae bibendum. Morbi rutrum elit ac placerat elementum. Vestibulum magna lorem, efficitur in ullamcorper posuere, interdum ac risus. Nunc mi nisi, bibendum sit amet nisi eget, ullamcorper venenatis velit. Mauris consequat, felis quis tristique tempor, erat nunc rutrum justo, et placerat augue mauris ac augue. Nunc dignissim est non mi rhoncus, condimentum imperdiet augue hendrerit. 

                p facilisi. Morbi ultrices fringilla mauris vel imperdiet. Mauris tempus enim ut eros facilisis eleifend. Sed lacinia at neque feugiat ornare. Integer congue est quam, eu semper metus vehicula id. Sed tristique, nisi id varius bibendum, diam nisl congue purus, sit amet vulputate augue ipsum pulvinar risus. Nullam sollicitudin lorem neque, quis placerat mi euismod at. Duis gravida metus ut libero aliquet, nec egestas metus fringilla. Morbi tempus, mauris ut semper eleifend, lectus nisl auctor neque, in pulvinar augue ligula sit amet dolor. Nunc semper sollicitudin laoreet. Nunc nec euismod justo. Phasellus a metus a nisl pellentesque sodales ut et magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                P lacinia massa nec fringilla laoreet. Nulla et tincidunt justo. Donec in consequat orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla rutrum erat quis iaculis aliquam. Suspendisse in nunc interdum, dapibus neque ut, malesuada justo. Vestibulum convallis ipsum libero, vel ornare leo mattis at.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", class="img-fluid")
                    h2.mb-4 Seguridad   
                    p  lacinia massa nec fringilla laoreet. Nulla et tincidunt justo. Donec in consequat orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla rutrum erat quis iaculis aliquam.     
                .col-md-4 
                    img(src="img/icono_destinos.svg", class="img-fluid")
                    h2.mb-4 Mejores destinos  
                    p  lacinia massa nec fringilla laoreet. Nulla et tincidunt justo. Donec in consequat orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla rutrum erat quis iaculis aliquam. 
                .col-md-4 
                    img(src="img/icono_precios.svg", class="img-fluid")
                    h2.mb-4 Los Mejores Precios  
                    p  lacinia massa nec fringilla laoreet. Nulla et tincidunt justo. Donec in consequat orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla rutrum erat quis iaculis aliquam.            